<!--
<div>
<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <hr class="light">
        <p>Justcrok</p>
        <hr class="light">
        <p>Recettes</p>
        <p>Nous contacter</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <p>Islam</p>
        <hr class="light">
        <p>Mosquée</p>
        <p>Home</p>
        <p>Coran fr + audio</p>
        <p>Coran live</p>
        <p>bukhari-hadiths</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <p>Suivez nous</p>
        <hr class="light">
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Youtube</p>
        <p>Twitter</p>
        <p>WhatsApp</p>
      </div>
      <div class="col-12">
        <hr class="light">
        <h5>&copy; justcrok.com</h5>
      </div>

    </div>
  </div>
</footer>
</div>

<footer class="footer">
  <div class="footer-content">
    <div class="left-content">
      <h4>Reste en contact</h4>
      <p>Vous pouvez abonner maintenant gratuitement par votre email pour recevoir notre newsletter</p>
      <div class="contact-form">
        <input type="email" placeholder="email">
        <button>Envoyer</button>
      </div>
      <div class="social-media">
        <p>suivez-nous</p>
        <div class="social-icons">
          <a href="https://www.facebook.com/Justcrok-Halal-Islam-357434742010110" target="_blank"><img src="../../assets/images/fb-icon.svg" alt=""></a>
          <a><img src="../../assets/images/instg-icon.svg" alt=""></a>
          <a><img src="../../assets/images/tw-icon.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="right-content">
      <h4>Justcrok.org</h4>
      <div>

        <div class="infos">
          <a routerLink="/aboutUs">À propos de nous</a>
          <a>support</a>
          <a>Blog</a>
        </div>
        <div class="links">
          <a>Horaire de prière</a>
          <a routerLink="/touvermosquee">Trouver une mosquée</a>
          <a routerLink="/quranecrit">Lire le Coran</a>
          <a routerLink="/macquelive">Mecque Live</a>
          <a routerLink="/recitations">Les récitateurs</a>
          <a>Trouve Qibla</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copy">
    <p>© 2021 Justcrok. Tous droits réservés.</p>
  </div>
</footer>-->


<footer class="footer">
  <div class="footer-content">
    <div class="left-content">
      <h4>Restons en contact</h4>
      <p>Vous pouvez vous abonner gratuitement à notre Newsletter pour
        recevoir nos actualités</p>
      <div class="contact-form">
        <input type="email" placeholder="email">
        <button>Envoyer</button>
      </div>
      <div class="social-media">
        <p>Suivez-nous</p>
        <div class="social-icons">
          <a href="https://www.facebook.com/Justcrok-Halal-Islam-357434742010110" target="_blank"><img src="../../assets/images/fb-icon.svg" alt=""></a>
          <a href="https://www.instagram.com/justcrok_org/" target="_blank"><img src="../../assets/images/instg-icon.svg" alt=""></a>
          <a href=" https://twitter.com/JustcrokO" target="_blank"><img src="../../assets/images/tw-icon.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="right-content">
      <h4>Justcrok.org</h4>
      <div>

        <div class="infos">
          <a routerLink="/aboutUs">À propos de nous</a>
          <a>Support</a>
          <a>Blog</a>
        </div>
        <div class="links">
          <a>Horaire de la prière</a>
          <a routerLink="/touvermosquee">Trouver une mosquée</a>
          <a routerLink="/quranecrit">Lire le Coran</a>
          <a routerLink="/macquelive">Mecque Live</a>
          <a routerLink="/recitations">Les récitateurs</a>
          <a>Trouver la Qibla</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copy">
    <p>© 2021 Justcrok. Tous droits réservés.</p>
  </div>
</footer>
