<!--<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/makkah.jpg">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/kaaba.jpg">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/mosque.jpg">
    </div>
  </div>

</div>
<main class="main-section">
  <div class="main-left-bg">
    <div class="main-left">
      <div class="main-left-icons">
        <div>
          <img src="../../assets/images/horaire-priere.svg" alt="">
          <p>Horaire De prière</p>
        </div>
        <div>
          <img src="../../assets/images/map.svg" alt="">
          <a routerLink="/touvermosquee">Trouver une mosquée</a>
        </div>
      </div>
    </div>
  </div>
  <div class="main-right">
    <h1>Justcrok Islam</h1>
    <p>
      Justcrok aide à trouver la mosquée la plus proche, à lire/écouter le Coran, à vérifier l'heure de la prière
      chez vous, à trouver une mosquée ou à regarder la Mecque en direct
    </p>
    <a>Télécharger l'Application</a>
  </div>
</main>

<section class="pray-time">

  <div class="search-box">
    <p>Temps du prière en</p>
    <div class="search-input">
      <img src="../../assets/images/search.svg" alt="">
      <input type="search">
    </div>
    <p>Reste du temps pour la prière</p>
    <p class="prayer-name">Dohr</p>
    <p class="time-left">00:10:32</p>
    <p>Jeudi 12 Chaabane, 1442</p>
  </div>
  <div class="prayers-group">
    <div class="two-times">
      <div class="prayer first-prayer">
        <p>Fajr</p>
        <p>{{fajerTime(latUser,lngUser)}}</p>
        <p></p>
      </div>
      <div class="prayer first-prayer">
        <p>Lever du soleil</p>
        <p>{{sunriseTime(latUser,lngUser)}}</p>
        <p></p>
      </div>
    </div>
    <div class="two-times">
      <div class="prayer">
        <p>Doher</p>
        <p>{{dhuhrTime(latUser,lngUser)}}</p>
        <p></p>
      </div>
      <div class="prayer">
        <p>Aser</p>
        <p>{{asrTime(latUser,lngUser)}}</p>
        <p></p>
      </div>
    </div>
    <div class="two-times">
      <div class="prayer">
        <p>Maghreb</p>
        <p>{{maghribTime(latUser,lngUser)}}</p>
        <p></p>
      </div>
      <div class="prayer">
        <p>Isha</p>
        <p>{{ishaTime(latUser,lngUser)}}</p>
        <p></p>
      </div>
    </div>
  </div>
</section>


<section class="details">
  <div class="details-header">
    <h2>Nous Vous Offerons</h2>
    <p>L'application Justcrok vous aide à trouver la mosquée la plus proche, à lire / écouter le Coran, à vérifier
      l'heure de la prière chez vous, à trouver une mosquée ou à regarder la Mecque en direct...</p>
  </div>
  <div class="details-content">
    <div class="details-cards">
      <div class="two-cards">
        <div class="detail-card">
          <img src="../../assets/images/time-icon.svg" alt="">
          <div class="card-text">
            <h4>Horaire de prière</h4>
            <p>Trouver l'horaire du Salat selon votre géolocalisation</p>
          </div>
        </div>
        <div class="detail-card">
          <img src="../../assets/images/mecque-icon.svg" alt="">
          <div class="card-text">
            <h4>Mecque Live</h4>
            <p>Regarder et écouter la Mecque LIVE</p>
          </div>
        </div>
      </div>

      <div class="two-cards">
        <div class="detail-card">
          <img src="../../assets/images/mark-icon.svg" alt="">
          <div class="card-text">
            <h4>Trouver une mosquée</h4>
            <p>Où tu te trouve avec la géolocalisation trouve une mosquée App international</p>
          </div>
        </div>
        <div class="detail-card">
          <img src="../../assets/images/imam-icon.svg" alt="">
          <div class="card-text">
            <h4>Les récitateurs</h4>
            <p>les meilleurs récitations du Coran, des voix exceptionnelle</p>
          </div>
        </div>
      </div>

      <div class="two-cards">

        <div class="detail-card">
          <img src="../../assets/images/book-icon.svg" alt="">
          <div class="card-text">
            <h4>Lire Coran</h4>
            <p>Lire le coran et l'écouter Multilingue</p>
          </div>
        </div>
        <div class="detail-card">
          <img src="../../assets/images/pray-icon.svg" alt="">
          <div class="card-text">
            <h4>Trouve Qibla</h4>
            <p>Trouver la Qibla à votre place</p>
          </div>
        </div>
      </div>

      <a class="down-btn">Télécharger l'application</a>
    </div>
    <img class="phone-img" src="../../assets/images/phone-app.png" alt="" />
  </div>

</section>-->

<body>



<main class="main-section">
  <div class="main-left-bg">
    <div class="main-left">
      <div class="main-left-icons">
        <div>
          <img src="../../assets/images/pray-time.svg" alt="">
          <p>Horaire de la prière</p>
        </div>
        <div>
          <img src="../../assets/images/find-mosque.svg" alt="">
          <a routerLink="/touvermosquee">Trouver une mosquée</a>
        </div>
      </div>
    </div>
  </div>
  <div class="main-right">
    <div class="main-right-content">
      <h1>Justcrok Islam</h1>
      <p>
        Jusrcrok vous aide à trouver la mosquée la plus proche de vous, à lire et écouter le Coran, à consulter
        les heures de la prière mais aussi à regarder la Mecque en direct
      </p>
      <a>Télécharger l’application</a>
    </div>
  </div>
</main>
<section class="pray-time">
  <div class="search-box">
    <p>Horaire de la prière en fonction de votre ville :</p>
    <div class="search-input">
      <img src="../../assets/images/search.svg" alt="">
      <input type="search">
    </div>
    <p>Temps restant avant la prochaine prière</p>
   <!--<p class="prayer-name">Dohr</p>
    <p class="time-left">00:10:32</p>-->
    <p>{{todayDate | date}}</p>
  </div>
  <div class="prayers-group">
    <div class="two-times">
      <div class="prayer first-prayer">
        <p>Fajr</p>
        <p>{{fajerTime(latUser,lngUser)}}</p>
      </div>
      <div class="prayer first-prayer">
        <p>Lever du soleil</p>
        <p>{{sunriseTime(latUser,lngUser)}}</p>
      </div>
    </div>
    <div class="two-times">
      <div class="prayer">
        <p>Dohr</p>
        <p>{{dhuhrTime(latUser,lngUser)}}</p>
      </div>
      <div class="prayer">
        <p>Asr</p>
        <p>{{asrTime(latUser,lngUser)}}</p>
      </div>
    </div>
    <div class="two-times">
      <div class="prayer">
        <p>Maghrib</p>
        <p>{{maghribTime(latUser,lngUser)}}</p>
      </div>
      <div class="prayer">
        <p>Isha</p>
        <p>{{ishaTime(latUser,lngUser)}}</p>
      </div>
    </div>
  </div>
</section>

<section class="details">
  <div class="details-header">
    <h2>Tout est offert !</h2>
    <p>Justcrock est la nouvelle application vous permettant d’évoluer dans votre pratique de notre magnifique
      religion.</p>
  </div>
  <div class="details-content">
    <div class="details-cards">
      <div class="two-cards">
        <div class="detail-card">
          <img src="../../assets/images/pray-time.svg" alt="">
          <div class="card-text">
            <h4>Horaire de la prière</h4>
            <p>Trouver l’horaire de la prière calculé selon votre géolocalisation</p>
          </div>
        </div>
        <div class="detail-card">
          <img src="../../assets/images/mecca.svg" alt="">
          <div class="card-text">
            <h4>Mecque Live</h4>
            <p>Regarder et écouter la Mecque en LIVE</p>
          </div>
        </div>
      </div>

      <div class="two-cards">
        <div class="detail-card">
          <img src="../../assets/images/find-mosque.svg" alt="">
          <div class="card-text">
            <h4>Trouver une mosquée</h4>
            <p>Trouver la mosquée la plus proche selon sa position</p>
          </div>
        </div>
        <div class="detail-card">
          <img src="../../assets/images/reciter.svg" alt="">
          <div class="card-text">
            <h4>Les récitateurs</h4>
            <p>Ecouter des récitations du Coran avec les plus belles voix</p>
          </div>
        </div>
      </div>

      <div class="two-cards">

        <div class="detail-card">
          <img src="../../assets/images/playlist.svg" alt="">
          <div class="card-text">
            <h4>Lire le Coran</h4>
            <p>Lire le Coran et l’écouter en plusieurs langues</p>
          </div>
        </div>
        <div class="detail-card">
          <img src="../../assets/images/kibla.svg" alt="">
          <div class="card-text">
            <h4>Trouver la Qibla</h4>
            <p>Trouver facilement la direction de la Qibla</p>
          </div>
        </div>
      </div>

      <a class="down-btn">Télécharger l'application</a>
    </div>

    <img class="phone-img" src="../../assets/images/phone-app.png" alt="" />
  </div>
</section>
</body>
