<div class="cnd">
  <h1 style="text-align: center;"><b> Conditions Générales D'utilisation </b></h1>


<div>
  <p> Condition d'utilisation :   Éditeur</p>
 <p>Responsable de la publication : Alvarez Jérôme Youcef</p>
 <p>Hébergement o2switch</p>
<p>222 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand </p>
 <p>Crédits et licences</p>
 <p>Photos sous licence</p>
 <p>Logiciels et services Contenus du site Web : Tous droits réservés</p>
 <p>Tout utilisateur du site Internet de la société Justcrok groupe H2no limited est considéré comme ayant accepté l’application des lois françaises actuellement en vigueur. Il est tenu de respecter les dispositions de la loi Informatique et libertés (CNIL) dont la violation est passible de sanctions pénales. Sauf mention contraire, l’ensemble des éléments composant ce site sont la propriété exclusive la société Justcrok groupe H2no limited.</p>
 <p>Ce site est une œuvre protégée par la législation sur la propriété intellectuelle. Toute reproduction ou représentation faite sans l’accord de la société Justcrok groupe H2no limited constitue une contrefaçon. Seule une utilisation à des fins strictement personnelles est autorisée.</p>
<p>L’ensemble de ce site relève de la législation française Européen et internationale sur le droit d’auteur et la propriété intellectuelle. En tant que bloggeur professionnelle écrivant sous le pseudonyme Youcef Blogeur, l’ensemble des articles sont interdits même partiel à la diffusion. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et photographiques. La reproduction de tout ou partie de ce site sur quelque support que ce soit est formellement interdite sauf autorisation expresse de la société Justcrok groupe H2no limited.</p>
<p>Droits de reproduction et de diffusion réservés © Justcrok groupe H2no limited.</p>
<p>Malgré tous les soins apportés à la réalisation de ce site et à son actualisation régulière, des erreurs peuvent s’être glissées dans les informations et/ou documents présentés. Les utilisateurs du site procéderont donc à toutes vérifications utiles.</p>
<p>Droits de reproduction :</p>
<p>Le contenu de livre, Pdf, Vidéo qualité Web, l’ensemble des contenus de formation et de certification sont la propriété de la société Justcrok groupe H2no limited. Leurs reproductions ou la production de produits dérivés sont strictement interdites sans autorisation expresse de sa part.</p>
<p>Protection des données le RGPD et Européen :</p>
<p>Les informations collectées par le biais de nos formulaires sont exclusivement communiquées à la société Justcrok groupe H2no limited et ne sont communiquées à aucun tiers. L’abonnement à la lettre dite Newsletters fait l’objet d’une vérification par double opt-in. Les abonnés peuvent se désabonner à tout moment.</p>
<p>Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui les concernent.</p>
<p>Pour exercer ce droit, il vous suffit d’écrire à Monsieur Alvarez Jérôme, responsable à la protection des données, en utilisant notre formulaire de contact. Je vous mets un lien ici</p>
<p><b>Avertissement</b> </p>
<p>Il appartient à l’utilisateur de ce site de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de la contamination par d’éventuels virus circulant sur le réseau Internet. La société Justcrok groupe H2no limited décline toute responsabilité à un éventuel dommage survenu pendant la consultation ou après un téléchargement effectué à partir du présent site.</p>
<p>L’utilisateur reconnaît avoir été informé que le présent site est accessible 24 heures sur 24 et 7 jours sur 7, à l’exception des cas de force majeure, difficultés informatiques ou difficultés techniques, de problème serveur ou je ne sais quelle panne ou épidémie mondiale….</p>
<p>Nous ne pouvons assurer la confidentialité des messages que vous pouvez nous adresser transitant par un réseau ouvert de télécommunications. </p>
<p> Les liens vers d’autres sites ne sont communiqués qu’à titre indicatif et ne sauraient en aucun cas engager la responsabilité de la société Justcrok groupe H2no limited, tant en ce qui concerne leur contenu que les conditions d’accès.</p>
<p>Cookies & Statistiques :</p>
<p>Les cookies sont des éléments d’information qu’un site Internet transmet au disque dur d’un ordinateur individuel afin de garder un enregistrement du passage ; les mots de passe ne sont pas gardés dans les cookies. Les cookies permettent aux utilisateurs de conserver la mémoire de leurs paramètres personnels pour accéder à ce site et ainsi faciliter leur navigation, mais aussi d’obtenir des statistiques. Si vous ne souhaitez pas recevoir de « cookie » vous pouvez utiliser l’option sur votre navigateur qui rend indisponible les cookies.</p>
<p>Vous pouvez aussi ne pas nous autoriser à utiliser des données anonymisées vous concernant pour nos statistiques en décochant la case ci-dessous.</p>

</div>

</div>
