<div class="founder">
  <div class="main-content">

    <h1>About</h1>
    <p>Les musulmans sont très attachés à la religion, indiscrets, réciter ou entendre le Coran, fait partie de la routine quotidienne de tout musulman.
      Justcrok.ogr est la plate-forme où tout musulman du monde entier peut trouver la mosquée la plus proche, réciter le Coran ou entendre le saint Coran des meilleurs lecteurs du Coran du monde musulman.
      L'histoire a commencé avec Monsieur Jérôme Alverz qui est le fondateur de la marque Justcrok, qui s'est converti à l'islam en 2008, il est d'origine française, il est passionné d'informatique, son objectif est de créer des liens entre l'islam et le monde numérique.
      <span class="text-high">Le message du fondateur:</span>
      «Après plusieurs voyages à travers le monde en tant que globe-trotter, j'ai vraiment vu qu'il était possible de faire progresser l'accès à la science pour les musulmans. J'ai décidé de créer des applications, des sites Web pour aider notre communauté dans ses efforts spirituels, dans la vie quotidienne comme pour trouver un boucher ou une entreprise Halal, pour écouter le Coran et le lire ou chercher une mosquée lorsque je voyage. Je voulais aussi aider les personnes qui ne sont pas musulmans à comprendre notre religion afin de faciliter la coexistence entre tous. "
    </p>
  </div>
  <div class="founder-info">
    <p><span class="info-label">Address :</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
      possimus!</p>
    <p><span class="info-label">Phone :</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
      repudiandae!</p>
    <p><span class="info-label">email :</span> Lorem ipsum dolor sit amet.</p>
    <p><span class="info-label">Address :</span> Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    <p><span class="info-label">Phone :</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
      veniam?</p>
    <p><span class="info-label">email :</span> Lorem ipsum dolor sit, amet consectetur adipisicing.</p>

    <div class="map">map goes here</div>
  </div>
</div>
