<!--<div class="country">
  <h1>Select your country</h1>
  <img src="../../assets/images/images/world-map.png" alt="">
  <div class="main-content">
    <div class="europe-countries">
      <h5>Europe</h5>
      <div class="country-list ">


        <div class="country-info">
          <img src="../../assets/images/images/austria.png" alt="">
          <a>Austria</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/belgium.png" alt="">
          <a>Belgium</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/bulgaria.png" alt="">
          <a>bulgaria</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/cheque.png" alt="">
          <a>czechia</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/croatia.png" alt="">
          <a>croatia</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/cyprus.png" alt="">
          <a>cyprus</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/danemark.png" alt="">
          <a>denmark</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/estonia.png" alt="">
          <a>estonia</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/france.png" alt="">
          <a>france</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/finland.png" alt="">
          <a>finland</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/greece.png" alt="">
          <a>greece</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/germany.png" alt="">
          <a>germany</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/hungary.png" alt="">
          <a>hungary</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/ireland.png" alt="">
          <a>ireland</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/italy.png" alt="">
          <a>italy</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/lithuania.png" alt="">
          <a>lithuania</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/luxembourg.png" alt="">
          <a>luxembourg</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/latvia.png" alt="">
          <a>latvia</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/malta.png" alt="">
          <a>malta</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/netherland.png" alt="">
          <a>netherland</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/poland.png" alt="">
          <a>poland</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/portugal.png" alt="">
          <a>portugal</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/romania.png" alt="">
          <a>romania</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/slovakia.png" alt="">
          <a>slovakia</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/slovenia.png" alt="">
          <a>slovenia</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/sweden.png" alt="">
          <a>sweden</a>
        </div>
        <div class="country-info">
          <img src="../../assets/images/images/spain.png" alt="">
          <a>spain</a>
        </div>
      </div>
    </div>
    <div class="kingdom-countries">
      <h5>United kingdom</h5>
      <div class="country-info">
        <img src="../../assets/images/images/england.png" alt="">
        <a>great britain</a>
      </div>
    </div>
    <div class="africa-countries">

      <h5>North Africa</h5>
      <div class="country-list list-afrique">

        <div class="country-info country-afrique">
          <img src="../../assets/images/images/algeria.png" alt="">
          <a>algeria</a>
        </div>
        <div class="country-info country-afrique">
          <img src="../../assets/images/images/morocco.png" alt="">
          <a>morocco</a>
        </div>
        <div class="country-info country-afrique">
          <img src="../../assets/images/images/mauritania.png" alt="">
          <a>mauritania</a>
        </div>
        <div class="country-info country-afrique">
          <img src="../../assets/images/images/libya.png" alt="">
          <a>libya</a>
        </div>
        <div class="country-info country-afrique">
          <img src="../../assets/images/images/tunisia.png" alt="">
          <a (click)="btnClick()">tunisia</a>
        </div>
      </div>
    </div>

  </div>

</div>
-->

<body>
  <div class="country">
    <h1>SÉLECTIONNEZ VOTRE PAYS
</h1>
    <img src="../../assets/images/images/world-map.png" alt="">
    <div class="main-content">
      <div class="europe-countries">
        <h5>Europe</h5>
        <div class="country-list ">


          <div class="country-info">
            <img src="../../assets/images/images/austria.png" alt="">
            <a>Autriche</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/belgium.png" alt="">
            <a>Belgique</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/bulgaria.png" alt="">
            <a>Bulgarie</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/cheque.png" alt="">
            <a>Tchéquie</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/croatia.png" alt="">
            <a>Croatie</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/cyprus.png" alt="">
            <a>Chypre</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/danemark.png" alt="">
            <a>Danemark</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/estonia.png" alt="">
            <a>Estonie</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/france.png" alt="">
            <a>france</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/finland.png" alt="">
            <a>Finlande</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/greece.png" alt="">
            <a>Grèce</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/germany.png" alt="">
            <a>Allemagne</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/hungary.png" alt="">
            <a>Hongrie</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/ireland.png" alt="">
            <a>Irlande</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/italy.png" alt="">
            <a>Italie</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/lithuania.png" alt="">
            <a>Lituanie</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/luxembourg.png" alt="">
            <a>Luxembourg</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/latvia.png" alt="">
            <a>Lettonie</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/malta.png" alt="">
            <a>Malte</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/netherland.png" alt="">
            <a>Pays-Bas</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/poland.png" alt="">
            <a>Pologne</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/portugal.png" alt="">
            <a>portugal</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/romania.png" alt="">
            <a>Roumanie</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/slovakia.png" alt="">
            <a>Slovaquie</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/slovenia.png" alt="">
            <a>slovenia</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/sweden.png" alt="">
            <a>Suède</a>
          </div>
          <div class="country-info">
            <img src="../../assets/images/images/spain.png" alt="">
            <a>Espagne</a>
          </div>
        </div>
      </div>
      <div class="kingdom-countries">
        <h5>Royaume-Uni</h5>
        <div class="country-info great-britain">
          <img src="../../assets/images/images/england.png" alt="">
          <a>Grande-Bretagne</a>
        </div>
      </div>
      <div class="africa-countries list-afrique">

        <h5>Afrique du Nord</h5>
        <div class="country-list ">

          <div class="country-info country-afrique">
            <img src="../../assets/images/images/algeria.png" alt="">
            <a>ALGÉRIE</a>
          </div>
          <div class="country-info country-afrique">
            <img src="../../assets/images/images/morocco.png" alt="">
            <a>Maroc</a>
          </div>
          <div class="country-info country-afrique">
            <img src="../../assets/images/images/mauritania.png" alt="">
            <a>Mauritanie</a>
          </div>
          <div class="country-info country-afrique">
            <img src="../../assets/images/images/libya.png" alt="">
            <a>Libye</a>
          </div>
          <div class="country-info country-afrique">
            <img src="../../assets/images/images/tunisia.png" alt="">
            <a (click)="btnClick()">Tunisia</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</body>
