.addtmosque{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form
{
  padding:7% 2%;
  width:95%;
  height: 70%;
}
img{
  width:100%;
  height: 90%;
  padding:6%;
  border: 0.5% solid grey;
  border-radius: 5rem;
}
button{
  background-color: darkcyan;
  border-color: darkcyan;
}
