<h2 mat-dialog-title>{{description.name}}</h2>
<mat-dialog-content class="mat-typography">
    <h3>{{description.adresse}}</h3>
    <h5>{{description.municipality}}</h5>

    <h3>{{description.pays}}</h3>

    <h3>{{description.google_search_url}}</h3>
   

    <h3>{{description.linkedin_url}}</h3>
    

    <h3>{{description.twitter_url}}</h3>

    

    <h3>{{description.instagram_url}}</h3>

    <h3>{{description.youtube_url}}</h3>

    <h3>{{description.pinterest_url}}</h3>
    
    <h3>{{description.facebook_pixel}}</h3>


   

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Terminer</button>
</mat-dialog-actions>
