/*.macque {
    background-image: url('../../assets/images/body-background.jpg');
    background-repeat: repeat;
    margin-bottom: 10%;

}
.centreFrame{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 10%;
}
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.macque {
  background-image: url('../../assets/images/body-background.jpg');
  background-repeat: repeat;
  font-family: 'Montserrat', sans-serif;
  /* border: 2px solid red; */
  min-height: 80vh;
}
.centreFrame {
  height: 100%;
}
.centreFrame > h1 {
  color: #01a67c;
  text-align: center;
  font-weight: 600;
  /* font-size: 3.3rem; */
  margin: 30px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .centreFrame {
    padding: 0 50px 50px;
  }
}
